h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: sienna;
}
.themeColor {
    color: sienna;
}
p {
    font-family: 'Merriweather', serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centerText {
    text-align: center;
}
.indentText {
    text-indent: 2em;   
}
p.jobPoints{
    text-indent: 2em;
    line-height: 1.2em;
}
.wordspace {
    word-spacing: 1em;
}
.jobTitle {
    font-weight: bold;
}
img.rounded {
    border-radius: 50%;
}
