h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: sienna;
}
p {
    font-family: 'Merriweather', serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.center {
    text-align: center;
}
.wordspace {
    word-spacing: 1em;
}
.jobTitle {
    font-weight: bold;
}
img {
    border-radius: 50%;
}
